@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap');

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	border: #06805e 1px solid;
}

body {
	background-color: #f0f7fa;
	font-family: 'Karla', sans-serif;
	color: #6c757d;
	letter-spacing: 1.5px;
	font-size: 1rem;
	line-height: 2;
	font-weight: 400;
}

nav {
	width: 50%;
	margin: 0 auto;
	background-color: #f0f7fa;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all 0.5s;
}

.footer-div {
	margin-top: 5%;
	clear: left;
}

.nav-div {
	width: 100%;
	background-color: #f0f7fa;
}
h6 {
	color: #06805e;
}

#header-p {
	margin: 1%;
}

#header-img {
	width: 100%;

	margin: 2%;
}
.one {
	text-decoration: none;
	color: #06805e;
}
.high {
	font-family: 'Lora', serif;
	color: black;
}
.i {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.fa {
	color: #06805e;
}

.main-container {
	width: 50%;
}

.img-svg {
	width: 30px;
	height: 30px;
}

.mini-container {
	display: flex;
	justify-content: space-between;
}

.five {
	margin: 5%;
}
.five > li > p {
	margin-bottom: 0;
}

.right {
	list-style: none;
}

.right > li > p > img {
	margin: 2%;
}
.car-container {
	color: white;
	padding: 100px;
}

/* .flex-container {
	display: flex;
} */

#lately img {
	margin-left: 10px;
}
#about-img {
	display: block;
	width: 70%;
	height: 40%;
	margin: 10px auto 20px;
}
#empty {
	height: 30px;
}

.projects-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	margin-top: 2%;
	margin-left: 1%;
}
.i {
	height: 100%;
}
.trans-bg {
	padding: 100px 0;
}
.cover {
	background-color: #f0f7fa;
}
.btn-outline-primary {
	border: #06805e solid 1px;
	border-radius: 0;
	color: #06805e;
}
.btn-outline-primary:hover {
	border-radius: 0;
	color: white;
	background-color: #06805e;
}
.c:hover {
	transition: 0.3s;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.hover-container {
	position: relative;
	width: 100%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.c:hover .image {
	opacity: 0.3;
}

.c:hover .middle {
	opacity: 1;
}

.text {
	/* background-color: #4CAF50; */
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

a:hover {
	color: #06805e !important;
}
/*  stroke */
nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #06805e;
	height: 3px;
}
nav.stroke ul li a:hover:after {
	width: 100%;
}

nav.fill ul li a {
	transition: all 2s;
}

nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}
nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
}
nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}
.nav-link:active {
	color: #06805e !important;
}

.blog-img {
	width: 50%;
	height: 90%;
}

.bb {
	width: 70%;
	display: block;
	margin: 0 auto;
}
.bbb{
	width: 70%;
	height: 50%;
	display: block;
	margin: 0 auto;
}
.blog {
	height: 250px;
}

.vert {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.vert p {
	color: black;
	font-size: large;
	font-weight: 300;
}

.y {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
}
@media (max-width: 480px) {
	nav {
		width: 100%;
	}
	.main-container {
		width: 100%;
	}
	.z {
		display: none;
	}
	.dot {
		display: none;
	}
	body {
		font-size: small;
	}
}

@media (max-width: 768px) {
	nav {
		width: 100%;
	}
	.main-container {
		width: 100%;
	}
	.z {
		display: none;
	}

	.dot {
		display: none;
	}
	.projects-grid {
		justify-content: space-evenly;
	}
}
